@import 'index.less';

.boards {
	width: 100%;
	height: ~"calc(100vh - 46px)";
	float: left;
	&__all {
		width: ~"calc(100% - 64px)";
		height: ~"calc(100% - 104px)";
		float: left;
		padding: 30px;
		& ul {
      width: ~"calc(100% - 40px)";
			float: left;
			margin: 10px 20px 10px 20px;
      padding: 0px;
      & li {
        width: ~"calc(33.3333% - 40px)";
        padding: 0 10px 0 10px;
        margin: 0 10px 0 10px;
        float: left;
        cursor: pointer;
      }
		}
	}
	&__desc {
		width: ~"calc(65% - 4px)";
		height: 40px;
		float: left;
	}
	&--border {
    border: solid 2px @structureColor;
  }
}

.play {
	width: ~"calc(35% - 4px)";
	height: 40px;
	float: left;
	&__box {
		width: ~"calc(100% - 20px)";
		height: 20px;
		margin: 10px;
	}
	&--style {
		border: 2px solid @structureColor;
		text-align: center;
		text-transform: uppercase;
	}
}