html
  head
    title hiper jumper 3000
    meta(
      charset ='Utf-8'
      name ='viewport'
      content ='width=device-width, initial-scale=1, maximum-scale=1'
    )
    meta(
      name ='Keywords'
      content = keywords
    )
    meta(
      name = 'Description'
      content = description
    )
    meta(
      name ='Author'
      content = author
    )
    link(rel='Shortcut icon' href = shortcutIcon)
    link(rel='stylesheet' href='../assets/styles/game.less' type='text/css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400')
  body
    div(id='gameWrapper' class='wrapper noSelect')
      article(id='gameArt' class='game')
        header(id='title' class='title title--style')
          div.title__lBox
            h2 hiper jumper 3000
          div.title__rBox
            h4 created by 
              a(href='http://poyters.pl') poyters.
            h5 alpha 1.0.1
        main(id='game' class='game__frame')
          div(id='gameWindow' class='game__window game--border')
            section.stats.stats__first.stats--style
              p Player 1 
              p.stats--smaller score:
                span(id='pointsPlayer0' class='stats--smaller')  0
              p.stats--smaller time:
                span(id='timePlayer0' class='stats--smaller')  -:--   
            section.stats.stats__second.stats--style
              p Player 2 
              p.stats--smaller score:
                span(id='pointsPlayer1' class='stats--smaller')  0
              p.stats--smaller time:
                span(id='timePlayer1' class='stats--smaller')  -:--
            section.controlPanel
              div(id='startOne' class='controlPanel__btn controlPanel--style')
                h5 start 1 player
              div(id='startTwo' class='controlPanel__btn controlPanel--style')
                h5 start 2 players
              div(id='giveUpBoard' class='controlPanel__btn controlPanel--style')
                h5 give up board
            section(id='gameBoard' class='game__board game--styleBoard')
    //Scripts
    script.
      require('../gameEngine/index.js')
